body 
{
	
	font-family: Consolas;
    color: #FBEFFB;
	background-image: url("../bely.img/fundosite.jpg");
	background-size: contain;
	padding: 20px;
}   
h1
{
	background-color:#5d1485;
	padding: 1px;
}
p 
{	
	width: 450px;
}
h1
{
	font-family:"MV Boli";
	line-height: 1.6;
}
h2
{
	font-family:"Cascadia Mono";
	line-height: 1.6;
	color: #AB82FF;
}
p
{
	font-family:"Arial";
	line-height: 1.6;
}

.gostou{
	float:left;
	width: 33%;
}

.conteudo{
	text-align: center;
	margin-top:2px;
}

.logo{
	width: 33%;
	float:left;
	text-align: center;
	margin-top:10px;
}
.etzinho{
	width: 33%;
	float:left;
	text-align: center;
	margin-top:10px;
}

.etzinho img{
	width: 100px;

}	

.logo img{
	width: 100px;
	
}

nav{
	background-color: #AB82FF;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #AB82FF;
	border-top-color: #AB82FF;
	text-align: center;
	
}

nav a {
	font-family:"Impact";
	margin: 5px 100px 0px 0px;
}

.lupa {
	width: 33%;
	float:left;
	text-align: center;
	margin-top:50px;
}
.lupa img{
	width: 100px;
}
.container 
{
	margin: 0 auto;
	width: 960px;
} 

.baixo{
	clear:both;
	text-align:center;
	font-size:12px;
}
.place 
{
	border-color: #AB82FF;
	border: 1px solid #AB82FF;
	margin-bottom: 20px;
	padding: 10px;
}
.place 
{
	background-color: #5D478B	;
	margin-bottom: 20px;
	padding: 10px;
}
.place h2
{
	border-bottom:1px dashed #AB82FF;
	margin:0;
}
.place img
{
	border:1px solid #AB82FF;
	float:left;
	margin:10px 10px 0 0;
	padding:2px;
    width:200px;	
}
.clear
{
	clear:both;
}

.sidenote h3
{
	font-size:14px;
	margin-top:0; 
	color:#AB82FF; 
} 
.sideno teol
{
	font-size:12px; 
}
.places
{
	float:left;
	width:660px; 
}
.sidenote
{
	background-color:#5D478B;
	border:1px solid #AB82FF;
	float:right;
	padding:10px;
	width:260px; 
	margin-bottom: 10px;
}
.sidenote img
{
	margin:20px 20px 0 0;
    width:140px;	
}
h1 a
{
	color:#000000;
	text-decoration:none; 
}
h1 a:hover
{
	background-color:#5D478B;
	color:#AB82FF;
}

.conteudo img {
	width: 50%;
}